<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tikpoc.touch">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:label="TikPoc Touch Executor"
        android:usesCleartextTraffic="true">
        <service
            android:name=".TikPocAccessibilityService"
            android:exported="true"
            android:label="TikPoc Touch Executor"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>
    </application>
</manifest>
